.k45_we_tabWithContent_body.layoutReplacementTab {
    .sectionTitle {
        font-size: 200%;
        color: var(--accentColorNormal);
        display: flex;
        align-content: center;
        justify-content: center;
        padding-bottom: 15rem;
        padding-top: 5rem;
    }

    > div[class^=scrollable_]{
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;

        div[class^=content_] {
            width: 100%;
        }
    }

    div[class^=row_] {
        padding-top: 5rem;
        padding-bottom: 5rem;

        >div[class^=label_] {
            padding-right: 5rem;
            max-width: 66%;
        }

        >div[class^=control_] {
            flex-shrink: 9e+09;
            flex-grow: 1;
            min-width: 50rem;

            [class^=dropdown-toggle_] {
                color: white;
            }
        }

        &:hover {
            background-color: var(--sectionBackgroundColorLight);
        }
    }

}

@import "../buttonsStyles";
.k45_we_moduleOptionsTab {
    @extend %buttonsStyle;
}