.k45_we_atlasPreviewImg {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position-y: 50%;
    background-repeat: no-repeat no-repeat;
    background-position-x: 50%;
    border-width: 3rem;
    border-color: white;
}