.k45_we_floatingSettingsPanel {
    width: 440rem;
}

.k45_we_actionSectionButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1.000000;
    justify-content: flex-end;
}