@import "buttonsStyles";

@mixin icon-based-innerline {
    padding-left: 25rem;
    height: 20rem;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-start;
}

@mixin generate-border-color($color) {
    border-left-color: $color;
    border-bottom-color: $color;
    border-right-color: $color;
    border-top-color: $color;
}

@mixin formulae-element-type-styling {
    --colorComponentGet: #ff00bf;
    --colorMethodCall: #00d5ff;
    --colorComponentField: #240f8a;
    --colorComponentMethod: #0f618a;
    --colorComponentProperty: #0f388a;
    --colorAssembly: #b84b14;
    --colorPackage: #8a610f;

    --iconHome: url("coui://uil/Colored/Home.svg");
    --iconArrowRight: url("coui://uil/Standard/ArrowRight.svg");

    --iconAssembly: url("coui://uil/Colored/Puzzle.svg");
    --iconClass: url("coui://uil/Colored/PaperWithArrow.svg");
    --iconMethodName: url("coui://uil/Colored/ArrowRightThickStroke.svg");
    --iconFieldName: url("coui://uil/Colored/ListViewDense.svg");
    --iconPropertyName: url("coui://uil/Colored/ArrowRightTriangleNotch.svg");
    --iconBwAssembly: url("coui://uil/Standard/Puzzle.svg");
    --iconBwPackage: url("coui://uil/Standard/Boxes.svg");
    --iconBwClass: url("coui://uil/Standard/PaperWithArrow.svg");
    --iconBwMethodName: url("coui://uil/Standard/ArrowRightThickStroke.svg");
    --iconBwFieldName: url("coui://uil/Standard/ListViewDense.svg");
    --iconBwPropertyName: url("coui://uil/Standard/ArrowRightTriangleNotch.svg");

    --iconBwGame: url("coui://uil/Standard/BaseGame.svg");
    --iconBwMod: url("coui://uil/Standard/HeadCode.svg");
    --iconBwCoUI: url("coui://uil/Standard/GearOnSheet.svg");
    --iconBwSystem: url("coui://uil/Standard/Gear.svg");
    --iconBwUnity: url("coui://gameui/Media/Toolchain/Unity.svg");

    --colorMod: #8a6b0f;
    --colorCoUI: #5c9900;
    --colorSystem: #5500ff;
    --colorUnity: #cc33bf;
    --colorGame: #0099ff;
}

.k45_we_formulaeEditor {
    position: fixed;
    top: 55rem;
    right: 0;
    bottom: 120rem;
    width: 300rem;
    background-color: var(--panelColorNormal);
    backdrop-filter: var(--panelBlur);
    justify-content: flex-start;
    align-items: center;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    color: var(--textColorDim);
    overflow-y: hidden;

    >* {
        width: 100%;
    }

    .k45_we_formulaeEditor_title {
        padding: 2rem;
        border-bottom-width: 3px;
        border-bottom-color: var(--panelColorNormal);
        border-bottom-style: solid;
        text-align: center;
        align-items: center;
        margin-bottom: 10rem;
    }

    .k45_we_formulaeEditor_content {
        flex-shrink: 1;

        >div[class^=content] {
            justify-content: flex-start;
            display: flex;
            padding-left: 5rem;
            padding-right: 5rem;
            align-items: center;
            flex-direction: column;
            flex-grow: 1;

            @include formulae-element-type-styling;

            @mixin basic-container {
                min-width: 15rem;
                min-height: 25rem;
                padding-left: 15rem;
                padding-right: 15rem;
                font-weight: bold;
                border-style: solid;
                border-width: 2px;
                border-radius: 25rem;
                color: white;
                margin-top: 3rem;
                margin-bottom: 3rem;
                text-align: center;
                max-width: 280rem;
                overflow-x: hidden
            }


            .k45_we_formulaeEditor_initial_dot {
                @include basic-container;
                background-color: rgba(0, 128, 0, 1);
                @include generate-border-color(rgba(144, 238, 144, 1));
            }

            .k45_we_formulaeEditor_downArrow {
                width: 25rem;
                height: 25rem;
                background-image: url("coui://uil/Colored/ArrowDown.svg");
            }

            .k45_we_formulaeEditor_returnType {
                @include basic-container;
                background-color: dimgray;
                @include generate-border-color(silver);
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }


            .k45_we_formulaeEditor_implicitConversion {
                @include basic-container;
                background-color: darkorange;
                @include generate-border-color(yellow);
                color: black;
            }

            .k45_we_formulaeEditor_pipelineResult {
                @include basic-container;
                background-color: darkgreen;
                @include generate-border-color(greenyellow);
                color: lime;
            }

            .k45_we_formulaeEditor_basicContainer {
                @include basic-container;
            }

            @mixin advanced-container {
                @include basic-container;
                display: flex;
                flex-direction: column;
                padding-top: 5rem;
                padding-bottom: 5rem;
                align-items: center;
                color: var(--textColorDim);
                background-color: rgba(0, 0, 0, .5)
            }


            .k45_we_formulaeEditor_componentGet {
                @include advanced-container;
                @include generate-border-color(var(--colorComponentGet));
            }

            .k45_we_formulaeEditor_methodCall {
                @include advanced-container;
                @include generate-border-color(var(--colorMethodCall));
            }

            .k45_we_formulaeEditor_componentField {
                @include advanced-container;
                @include generate-border-color(var(--colorComponentField));
            }

            .k45_we_formulaeEditor_componentMethod {
                @include advanced-container;
                @include generate-border-color(var(--colorComponentMethod));
            }

            .k45_we_formulaeEditor_componentProperty {
                @include advanced-container;
                @include generate-border-color(var(--colorComponentProperty));
            }



            >*> {

                .k45_we_formulaeEditor_dotTitle {
                    color: white;
                    padding-bottom: 3rem;
                }

                .k45_we_formulaeEditor_assembly {
                    @include icon-based-innerline;
                    background-image: var(--iconAssembly);
                }

                .k45_we_formulaeEditor_class {
                    @include icon-based-innerline;
                    background-image: var(--iconClass);
                }

                .k45_we_formulaeEditor_methodName {
                    @include icon-based-innerline;
                    background-image: var(--iconMethodName);
                }

                .k45_we_formulaeEditor_fieldName {
                    @include icon-based-innerline;
                    background-image: var(--iconFieldName);
                }

                .k45_we_formulaeEditor_propertyName {
                    @include icon-based-innerline;
                    background-image: var(--iconPropertyName);
                }

                .k45_we_formulaeEditor_returnType {
                    margin-top: 5rem;
                    max-width: 95%;
                }
            }
        }
    }

    .k45_we_formulaeEditor_actions {
        padding-top: 10rem;

        .k45_we_formulaeEditor_footnote {
            padding: 8rem;
            font-size: var(--fontSizeXS);
            text-align: center;
        }
    }


    @extend %buttonsStyle;
}

.k45_we_formulaeDialog {
    @extend %buttonsStyle;


    flex-grow: 1;
    align-content: stretch;
    width: 100%;

    .k45_we_formulaeDialog_tabRow {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        button {
            flex-grow: 1;
            display: flex;
            align-self: stretch;
            justify-content: center;
        }
    }

}

.k45_we_formulaeDialog_content {
    @extend %buttonsStyle;
    max-height: 350rem;
    padding: 6rem;
    ---selfColor: white;
    width: 100%;


    &.anySelected {

        button,
        div[class^=k45_we_formulaeDialog_btn] {
            filter: brightness(40%);

            &:hover {
                filter: brightness(140%);
            }

            &.selected {
                filter: brightness(100%);
                background-color: var(---selfColor);
            }
        }
    }

    >div {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: center;

        @include formulae-element-type-styling;

        button,
        div[class^=k45_we_formulaeDialog_btn] {
            min-width: 160rem;
            min-height: 43rem;
            margin-left: 3rem;
            margin-right: 3rem;
            justify-content: center;
            text-transform: none;
            background-position-y: 50%;
            background-repeat: no-repeat no-repeat;
            background-size: 40rem auto;
            padding-left: 41rem;
            padding-right: 3rem;
            padding-top: 3rem;
            padding-bottom: 3rem;
            color: rgba(255, 255, 255, 1);
            margin-top: 4rem;
            margin-bottom: 4rem;
            border: 3rem solid;
            border-left-color: var(---selfColor);
            border-bottom-color: var(---selfColor);
            border-right-color: var(---selfColor);
            border-top-color: var(---selfColor);    
            display: flex;
            align-items: center;
            flex-direction: column;
            filter: brightness(70%);

            &:hover {
                filter: brightness(140%);
            }
        }

        .k45_we_formulaeDialog_btn_component {
            ---selfColor: var(--colorComponentGet);
            background-image: var(--iconBwClass);
        }

        .k45_we_formulaeDialog_btn_package {
            ---selfColor: var(--colorPackage);
            background-image: var(--iconBwPackage);
        }

        .k45_we_formulaeDialog_btn_field {
            ---selfColor: var(--colorComponentField);
            background-image: var(--iconBwFieldName);
        }

        .k45_we_formulaeDialog_btn_instanceMethod {
            ---selfColor: var(--colorComponentMethod);
            background-image: var(--iconBwMethodName);
        }

        .k45_we_formulaeDialog_btn_property {
            ---selfColor: var(--colorComponentProperty);
            background-image: var(--iconBwPropertyName);
        }

        .k45_we_formulaeDialog_btn_staticMethod {
            ---selfColor: var(--colorMethodCall);
            background-image: var(--iconBwMethodName);
        }

        .k45_we_formulaeDialog_btn_assembly {
            ---selfColor: var(--colorAssembly);
            background-image: var(--iconBwAssembly);
        }

        .k45_we_formulaeDialog_btn_Game {
            ---selfColor: var(--colorGame);
            background-image: var(--iconBwGame);
        }
    }

    .k45_we_formulaeDialog_btn_Mod {
        ---selfColor: var(--colorMod);
        background-image: var(--iconBwMod);
    }

    .k45_we_formulaeDialog_btn_CoUI {
        ---selfColor: var(--colorCoUI);
        background-image: var(--iconBwCoUI);
    }

    .k45_we_formulaeDialog_btn_System {
        ---selfColor: var(--colorSystem);
        background-image: var(--iconBwSystem);
    }

    .k45_we_formulaeDialog_btn_Unity {
        ---selfColor: var(--colorUnity);
        background-image: var(--iconBwUnity);
    }
}


.k45_we_formulaeDialog_navRow {
    @extend %buttonsStyle;
    @include formulae-element-type-styling;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    ---selfColor: black;

    button,
    div[class^=k45_we_formulaeDialog_btn]  {
        height: 40rem;
        margin-left: 3rem;
        margin-right: 3rem;
        justify-content: center;
        text-transform: none;
        background-position-y: 50%;
        background-repeat: no-repeat no-repeat;
        background-size: contain;
        padding-left: 41rem;
        color: rgba(255, 255, 255, 1);
        margin-top: 4rem;
        margin-bottom: 4rem;
        border: 3rem solid;
        border-left-color: var(---selfColor);
        border-bottom-color: var(---selfColor);
        border-right-color: var(---selfColor);
        border-top-color: var(---selfColor);
        border-top-color: var(---selfColor);
        background-color: var(---selfColor);
        filter: brightness(70%);

        &:hover {
            filter: brightness(140%);
        }

        &.selected {
            filter: brightness(100%);
            background-color: var(---selfColor);
        }

        &.selected~div {
            filter: brightness(40%);

            &:hover {
                filter: brightness(140%);
            }
        }
    }

    .k45_we_formulaeDialog_tabRow_navSeparator {
        background-size: contain;
        width: 15rem;
        background-image: var(--iconArrowRight);
        background-repeat: no-repeat;
        background-position-y: 50%;
        height: 40rem;
    }

    .k45_we_formulaeDialog_tabRow_resetNavigation {
        ---selfColor: gray;
        background-image: var(--iconHome);
        background-position-x: 50%;
    }

    .k45_we_formulaeDialog_tabRow_navigationPathPart_Game {
        ---selfColor: var(--colorGame);
        background-image: var(--iconBwGame);
    }

    .k45_we_formulaeDialog_tabRow_navigationPathPart_Mod {
        ---selfColor: var(--colorMod);
        background-image: var(--iconBwMod);
    }

    .k45_we_formulaeDialog_tabRow_navigationPathPart_CoUI {
        ---selfColor: var(--colorCoUI);
        background-image: var(--iconBwCoUI);
    }

    .k45_we_formulaeDialog_tabRow_navigationPathPart_System {
        ---selfColor: var(--colorSystem);
        background-image: var(--iconBwSystem);
    }

    .k45_we_formulaeDialog_tabRow_navigationPathPart_Unity {
        ---selfColor: var(--colorUnity);
        background-image: var(--iconBwUnity);
    }

    .k45_we_formulaeDialog_tabRow_navigationPathPart_assembly {
        ---selfColor: var(--colorAssembly);
        background-image: var(--iconBwAssembly);
    }

    .k45_we_formulaeDialog_tabRow_navigationPathPart_component {
        ---selfColor: var(--colorComponentGet);
        background-image: var(--iconBwClass);
    }

    .k45_we_formulaeDialog_tabRow_navigationPathPart_package {
        ---selfColor: var(--colorPackage);
        background-image: var(--iconBwPackage);
    }

}